/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-400;
  src: url(public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-500;
  src: url(public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-600;
  src: url(public/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-700;
  src: url(public/fonts/Montserrat-Bold.ttf);
}

body {
  font-family: Montserrat-400;
  font-size: 16px;
  max-width: 1440px;
}

:root {
  --color-primary: #000000;
  --color-secondary: #f36e0c;
  --color-nav: #292b41;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1280px;
  margin: 30px auto;
}

.heading {
  font-family: Montserrat-700;
  font-size: 56px;
}

.orange-b {
  padding-bottom: 20px;
  border-bottom: 6px solid var(--color-secondary);
  border-radius: 4px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat-500;
}

.navbar__logo {
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navbar__links a:hover,
.navbar__links a:active {
  border-bottom: 4px solid var(--color-secondary);
}

.navbar__btn {
  border: 0.5px solid #403636;
  border-radius: 10px;
  padding: 10px 18px;
  font-family: Montserrat-600;
  font-size: 18px;
  background: #ffffff;
  color: var(--color-nav);
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  margin-top: 84px;
}

.hero__start {
  /* TODO: Remove unused style */
}

.hero__heading {
  /* TODO: Remove unused style */
}

.hero__paragraph {
  font-family: Montserrat-400;
  font-size: 16px;
  margin: 60px 0 40px 0;
  line-height: 30px;
}

.hero__btn {
  background: linear-gradient(0deg, #e40a0a 0%, #ff5c00 100%);
  border: 0.5px solid rgba(255, 255, 255, 0.64);
  box-shadow: 0px 3px 3px rgba(243, 110, 12, 0.2);
  border-radius: 100px;
  padding: 14px 32px;
  font-family: Montserrat-600;
  font-size: 18px;
  color: #ffffff;
}

/* WHO WE ARE */

.who-we-are {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 120px;
  margin-top: 160px;
}

.who-we-are__start {
  /* TODO Remove unused style */
}

.who-we-are__heading {
  /* TODO Remove unused style */
}

.who-we-are__end {
  flex: 0.9;
}

.who-we-are__paragraph {
  font-family: Montserrat-400;
  font-size: 16px;
  margin: 60px 0 40px 0;
  line-height: 30px;
}

/* HOW WE WORK */

.how-we-work {
  background-color: #081a4a;
}
